<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Statistics</title>
</head>
<body>
<div class="container">
    <h1>이벤트 통계 조회</h1>
    <h3>조회할 이벤트 코드를 입력해주세요</h3>
    <div>
        <form action="/oltp/v1/event" method="post">
            <div class="form-group">
                <label for="eventCode">이벤트 코드</label>
                <input type="text" id="eventCode" name="eventCode" placeholder="이벤트 코드"><br>
            </div>
            <button type="submit">조회</button>
        </form>
    </div>
</div> <!-- /container -->
<br><br>
<div class="container2">
    <div>
        <h3>이벤트 통계 조회 결과</h3>
        <table border="1">
            <thead>
            <tr>
                <th>이메일 주소</th>
                <th>등록 일시</th>
                <th>총 포인트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${resultList}">
                <td th:text="${result.emailAddress}"></td>
                <td th:text="${result.regdt}"></td>
                <td th:text="${result?.point}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container2 -->
</body>
</html>