<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css"> <!--외부 CSS 설정 -->
    <title>Tmaxsoft Login</title>
</head>
<body>
<form action="/oltp/v1/login" method="post" id="memberLogin" name="memberLogin">
    <p style="text-align: center;"><img src="/images/Tmaxsoft_Logo.png" alt="logo" style="width:400px;"></p>
    <hr>
    <fieldset>
        <table>
            <tr>
                <td colspan="2"><input type="text" id="emailaddress" name="emailaddress" placeholder="이메일 입력"><br><span id="chk_id"></span></td>
                <td rowspan="5"><img src="/images/aaa.gif"> </td>
            </tr>
            <tr>
                <td colspan="2"><input type="password" id="member_pwd" name="member_pwd" placeholder="비밀번호 입력"><br><span id="chk_pwd"></span> </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="loginBtn" value="로그인" onclick="check()"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" id="joinBtn" value="회원가입" onclick="moveJoin()"></td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 14px"><input type="checkbox" id="checkLogin" value="로그인 상태 유지">로그인 상태 유지</td>
            </tr>
            <tr>
                <td style="font-size: 12px; text-align: right">아이디 찾기</td>
                <td style="font-size: 12px; text-align: left">비밀번호 찾기</td>
            </tr>

        </table>
    </fieldset>
</form>


</body>
</html>